<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${errorMessage}">
    <p th:utext="${errorMessage}"/>
</div>
<br>
<form action="#" th:action="@{/book-update}" th:object="${book}" method="post">
    <input type="text" th:field="*{id}" th:placeholder="${book.getId()}" hidden="hidden">

    <input type="text" th:field="*{dateAdded}" th:placeholder="${book.dateAdded}" hidden="hidden">

    <input type="text" th:field="*{user}" th:placeholder="${book.getUser()}" hidden="hidden">

    <label for="BookName">Book Name</label>
    <input type="text" th:field="*{bookName}" id="BookName" th:placeholder="${book.getBookName()}">

    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author" th:placeholder="${book.getAuthor()}">

    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" th:placeholder="${book.getDescription()}">

    <select name="Status">
        <option th:each="status : ${T(com.kreuzfeuer.mirea.trpp.final_project.entity.enums.BookStatus).values()}"
                th:value="${status}" th:text="${status}" th:placeholder="${book.getStatus()}"></option>
    </select>

    <select name="Rating">
        <option th:each="rating : ${T(com.kreuzfeuer.mirea.trpp.final_project.entity.enums.BookRating).values()}"
                th:value="${rating}" th:text="${rating}"></option>
    </select>
    <br/>
    <input type="submit" value="Update book">
</form>
</body>
</html>