<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>The Reader's Notes</title>
</head>
<body>
<h2>Registration</h2>
<div th:if="${!errorMessage.isEmpty()}" >
    <div th:utext="errorMessage"></div>
    <br>
</div>

<form th:action="@{/registration}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label text="Login">Login</label></td>
            <td><label><input type="text" name="login"/></label></td>
        </tr>
        <tr>
            <td><label text="Password">Password</label></td>
            <td><label><input type="password" name="password"/></label></td>
        </tr>
        <tr>
            <td><label text="Password Confirm">Password Confirm</label></td>
            <td><label><input type="password" name="passwordConfirm"/></label></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>

</body>
</html>